<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Route</title>
</head>
<body>
  <h1>Home Route</h1>
  <form action="/" method="POST">
    <label for="nome">Username</label>
    <input type="text" name="nome" id="nome">
    <button type="submit">Submit</button>
  </form>
</body>
</html>